
.site-header {
    box-sizing: border-box;
    border-bottom: 2px solid #F0F0F0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.site-header > * {
    margin-top: 16px;
    margin-bottom: 16px;
}

.site-header .site-logo {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 96px;
    flex: 0 0 auto;
}

.site-header .site-title {
	flex: 1 1 auto;
}


/* Desktop styling */
@media  (min-width: 992px) {
    
    .site-header {
        border-bottom: 5px solid #F0F0F0;
    }

}