* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
	background-color: #33658A;
	position: relative;
  z-index: 1;
}

.pure-menu-link {
	color: #F7F7F7;
	font-size: 18px;
}

.ProjectHeader {
  margin: 15px 0;
  text-align: center;
}

.PortfolioItem {
  display: block;
  margin: 15px 50px;
  background-color: #33658A;
  height: 400px;
  text-align: center;
}

.PortfolioItem > h1 {
  margin: 10px 0;
}

.PortfolioTitle, .PortfolioSubheader {
  color: white;
}

.PortfolioSubheader {
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}

.PortfolioStack {
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 16px;
}

.PortfolioItem .PortfolioImage {
  display: block;
  padding-top: 20px;
  margin: 30px auto;
  width: 200px;
  height: 220px;
}

.PortfolioItem .PortfolioImage-banjo {
  display: block;
  padding-top: 20px;
  margin: 30px auto;
  width: 300px;
  height: 187.5px;
}

.PortfolioItem .PortfolioImage-studentprogress {
  display: block;
  padding-top: 20px;
  margin: 5px auto;
  width: 200px;
  height: 282px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.PortfolioItem .PortfolioImage-studentprogress:hover {
  -webkit-transform:scale(3); /* Safari and Chrome */
  -moz-transform:scale(3); /* Firefox */
  -ms-transform:scale(3); /* IE 9 */
  -o-transform:scale(3); /* Opera */
   transform:scale(3);
}

.PortfolioItem .PortfolioImage-maxaer {
  display: block;
  padding-top: 20px;
  margin: 5px auto;
  width: 150px;
  height: 269px;
}


.HighSchoolItem {
  display: block;
  margin: 15px 50px;
  background-color: #63AB62;
  height: 400px;
  text-align: center;
}

.HighSchoolItem > h1 {
  margin: 10px 0;
}

.HighSchoolTitle, .HighSchoolSubheader {
  color: white;
}

.HighSchoolSubheader {
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}

.HighSchoolStack {
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 16px;
}

.HighSchoolItem .HighSchoolImage {
  display: block;
  padding-top: 20px;
  margin: 30px auto;
  width: 200px;
  height: 220px;
}

.HighSchoolItem .HighSchoolImage-glass {
  display: block;
  padding-top: 20px;
  margin: 30px auto;
  width: 300px;
  height: 267px;
}

.HighSchoolItem .HighSchoolImage-ec2 {
  display: block;
  padding-top: 20px;
  margin: 30px auto;
  width: 200px;
  height: 230px;
}
