html {
  background-color: #F8F9FA;
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0px;
}

h1, h2, h3 {
    font-weight: unset;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #202020;
}

h2 {
    font-size: 24px;
    color: #202020;
}

h3 {
    font-size: 24px;
    color: #BDBDBD;
}

.content {
    margin: 0px;
}

.site-header {
    box-sizing: border-box;
    border-bottom: 2px solid #F0F0F0;
}

.site-header .site-logo {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.skill {
    box-sizing: border-box;
    border-bottom: 1px solid #F0F0F0;
}

.skill-content {
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skill-collapsed .skill-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    height: 96px;
}

.skill-expanded .skill-content {
    display: flex;
    flex-flow: column nowrap;
}

.skill-expanded .skill-content .pin-group {
    align-items: flex-start;
    margin-top: -1px;
}

.pin-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.pin-group .pin {
    margin-right: 12px;
}

.hidden {
    display: none;
}

a:link, a:visited {
    color: #202020;
}



/*Responsive styling */

/* Tablet styling */
@media (min-width: 768px) { }

/* Desktop styling */
@media  (min-width: 992px) {

    .content {
        margin: 0 128px;
    }
    
    .site-header {
        border-bottom: 5px solid #F0F0F0;
    }

    h3 {
        font-size: 20px;
    }
}

/* Large desktop styling */
@media (min-width: 1200px) {

}